
/*.header1{
  font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-top: 28px;
}
.head{
  display: flex;
  flex-direction: row;
  position: fixed;
    top:  50px;
    right: 0;
    left: 0;
    z-index: 1030;
}*/

/*.btn:link, a:visited {
  margin-top: 16px;
  background-color: #ff110000;
  color: white;
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/

.btn:hover, a:active {
  background-color: hsl(345deg 95% 68%);
}
.btn-div{
  align-items: center;
}





@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap");
:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --blue500: hsl(236, 21%, 26%);
  --blue600: hsl(235, 16%, 14%);
  --blue700: hsl(234, 17%, 12%);
  --white: hsl(0, 0%, 100%);
}



.counter-wrapper {
  height: 80vh;
}
.counter-wrapper .counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.counter-wrapper .header {
  color: var(--white);
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 3px;
  font-weight: 500;
  word-spacing: 4px;
  margin-bottom: 8rem;
  text-transform: uppercase;
}
.counter-wrapper .count {
  color: var(--white);
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.counter-wrapper .count .sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.counter-wrapper .count .sec h2 {
  color: var(--soft-red);
  font-size: 4rem;
  background: var(--blue500);
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.counter-wrapper .count .sec p {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 20vh;
  color: var(--white);
}
.social-icons .icons {
  display: flex;
  margin: 0 auto;
}
.social-icons .icons .icon {
  list-style: none;
  margin: 1rem;
}
.social-icons .icons .icon .icon-link {
  text-decoration: none;
  color: var(--grayish-blue);
  transition: color 300ms ease;
}
.social-icons .icons .icon .icon-link i {
  font-size: 2.4rem;
}
.social-icons .icons .icon .icon-link:hover {
  color: var(--soft-red);
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 4px;
  }
}

.map_ul{
  margin-top: 20px;
}
.map_ul li{
  text-align: left !important;
  margin-top: 10px;
  font-size: 16px;
  list-style-type: square;
}